.home {
  position: relative;
  z-index: 2;
  width: 100%;
  background: url("../img/home-bg.png") no-repeat center top;
  background-size: cover;
  color: #ECECEC;
  padding: 0 0 250px;
  margin: 0 0 -180px;
}
.home h1 {
  text-align: left;
  margin: -20px 0 0;
  max-width: none;
  align-items: flex-start;
}
.home .h1-gradient {
  margin: -50px 0 0 0;
  width: 100%;
  padding: 0 0 0 90px;
}

.home-photo {
  width: calc(100% - 900px);
  padding: 0 50px 0 0;
  position: relative;
  z-index: 1;
  margin: 40px 0 0;
}
.home-photo__text {
  max-width: 382px;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 30px;
  text-align: right;
  font-style: italic;
  font-size: 28px;
  line-height: 120%;
}
.home-photo__icon {
  margin: 0 0 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-content {
  max-width: 900px;
  padding: 174px 0 0 0;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
.home-content .subtitle {
  font-size: 28px;
  opacity: 0.3;
  width: 100%;
  margin: 0;
  padding: 0 0 0 90px;
  font-style: italic;
}
.home-content__title {
  position: relative;
  z-index: 1;
}
.home-content .box-text {
  position: absolute;
  right: 0;
  max-width: 360px;
  text-align: center;
  top: 60px;
  font-size: 26px;
  line-height: normal;
}
.home-content .box-text .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
}

.start-date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(219, 219, 219, 0.3);
  border-radius: 10px;
  font-size: 26px;
  line-height: 130%;
  padding: 15px 22px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto;
}
.start-date::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  background: #9A0000;
  width: 8px;
  height: 8px;
  min-width: 8px;
  margin: 0 10px 0 0;
  box-shadow: 0 0 15px #9A0000;
}
.start-date p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.btn-sing {
  max-width: 776px;
  width: 100%;
  margin: 15px 0 0 auto;
}

.lilit-type {
  background: url("../img/lilit-type-bg.png") no-repeat center;
  background-size: cover;
  padding: 270px 0 175px;
  color: #131313;
  position: relative;
  z-index: 2;
}
.lilit-type .container {
  flex-direction: column;
  align-items: center;
}
.lilit-type h2 {
  font-size: 240px;
  color: #9A0000;
  line-height: 115%;
  margin: 0 auto;
  font-style: normal;
}
.lilit-type .subtitle {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin: 0 auto 40px;
}
.lilit-type .wrapper {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.wrapper-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 130px 0 0;
}
.wrapper-row:first-child {
  margin: 0;
}

.lilit-type-box {
  max-width: 430px;
}
.lilit-type-box:nth-child(odd) {
  text-align: right;
}
.lilit-type-box:nth-child(odd) .lilit-type-box__icon {
  margin: 0 0 35px auto;
  justify-content: flex-end;
}
.lilit-type-box__icon {
  margin: 0 auto 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.lilit-type-box-first {
  font-size: 36px;
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto 70px;
}
.lilit-type-box-first .lilit-type-box__icon {
  margin: 0 auto 35px;
  justify-content: center;
}

.lilit-type-footer {
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 80px auto 0;
}
.lilit-type-footer__img {
  position: absolute;
  z-index: -1;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
.lilit-type-footer .lilit-type-box {
  max-width: 900px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(to right, #9A0000 0%, #6A141A 100%);
  margin: 0 auto;
  text-align: center;
  color: #ECECEC;
  font-size: 36px;
  padding: 40px;
}
.lilit-type-footer .lilit-type-box__icon {
  justify-content: center;
}
.lilit-type-footer .lilit-type-box .box-text {
  max-width: 596px;
  margin: 0 auto;
}

.result-ritual {
  background: url("../img/result-ritual-bg.png") no-repeat center;
  background-size: cover;
  padding: 200px 0 0;
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}
.result-ritual h2 {
  max-width: 820px;
  text-align: left;
}
.result-ritual h2 span {
  font-style: normal;
}

.result-ritual-slider {
  width: calc(100% + 40px);
}
.result-ritual-slider .slick-slide {
  margin: 0 30px 0 0;
}

.result-ritual-card {
  width: 593px;
}
.result-ritual-card__img {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 35px;
}
.result-ritual-card h3 {
  margin: 30px 0;
  color: #FFEEDB;
}

.about-course {
  background: #070707 url("../img/about-bg.png") no-repeat center;
  background-size: cover;
  padding: 160px 0 100px;
}
.about-course .container {
  align-items: center;
}
.about-course__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-course__content {
  width: 50%;
  text-align: center;
}
.about-course .box-text {
  position: relative;
  z-index: 1;
  margin: 0 auto 35px;
}
.about-course .box-text strong {
  font-weight: 600;
}
.about-course .box-text:last-child {
  margin: 0 auto;
}
.about-course .box-text::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 28px;
  background: url("../img/about-icon.svg") no-repeat center;
  background-size: 100%;
  margin: 0 auto 20px;
}

.for-whom h2 {
  margin: 0 auto 70px;
}
.for-whom h2 span {
  display: block;
  font-style: normal;
}

.for-whom-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1528px;
  margin: 0 auto;
}

.for-whom-card {
  width: 100%;
  min-height: 520px;
  text-align: center;
  background: url("../img/bg-card.png") no-repeat center;
  background-size: cover;
  padding: 80px 20px 20px;
  font-size: 36px;
  line-height: normal;
  position: sticky;
  top: 0;
  margin: 0 0 40px;
}
.for-whom-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.for-whom-card h3 {
  margin: 0 auto 20px;
  color: #FFEEDB;
}
.for-whom-card .box-text {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.needed {
  background: url("../img/needed-bg.png") no-repeat center;
  background-size: cover;
  padding: 270px 0 190px;
  position: relative;
  z-index: 1;
  margin: 70px 0 -90px;
  color: #131313;
}
.needed h2 {
  text-align: left;
  margin: 10px 0 0;
  font-style: normal;
}

.needed-box {
  width: 100%;
  height: 100%;
  border: 3px solid #9A0000;
  border-radius: 30px;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  padding: 35px 40px 40px;
  position: relative;
  z-index: 1;
}
.needed-box__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 248px;
  margin: 0 auto 35px;
}
.needed-box__icon img {
  max-height: 100%;
}
.needed-box .box-text p {
  margin: 0 0 10px;
}
.needed-box .box-text p:last-child {
  margin: 0;
}
.needed-box .box-text span {
  font-size: 26px;
  line-height: normal;
  display: block;
  font-style: italic;
  color: rgba(19, 19, 19, 0.5);
}
.needed-box__img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.needed-box__content {
  margin-left: auto;
  max-width: 380px;
}

.stages-ritual {
  background: url("../img/stages-texture.png") no-repeat center;
  background-size: cover;
  padding: 205px 0 0;
}
.stages-ritual h2 {
  margin: 0 auto 60px;
  max-width: 900px;
}
.stages-ritual h3 {
  margin: 0 auto 35px;
  text-align: center;
  font-weight: 600;
}

.stages-ritual-box {
  text-align: center;
  width: 100%;
  font-size: 26px;
  font-style: italic;
  color: #FFEEDB;
}
.stages-ritual-box h4 {
  font-size: 36px;
  font-weight: 600;
}
.stages-ritual-box .box-text {
  margin: 10px 0 0;
}
.stages-ritual-box__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 45px;
}

.days-ritual {
  background: url("../img/days-ritual-bg.png") no-repeat center;
  background-size: cover;
  margin: 130px 0;
}
.days-ritual__column {
  max-width: 750px;
  width: 100%;
}
.days-ritual__column .box-text {
  font-size: 36px;
  line-height: 130%;
}
.days-ritual__column .box-text strong {
  color: #FFEEDB;
  display: inline;
}
.days-ritual h2 {
  text-align: left;
}

.days-icons {
  margin: 105px 0 40px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.days-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 10px;
  background: linear-gradient(to right, #9A0000 0%, #6A141A 100%);
  margin: 0 20px 0 0;
}
.days-icons li:last-child {
  margin: 0;
}

.actually-text {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  line-height: 130%;
  margin: 40px 0 0;
}
.actually-text img {
  margin: 0 20px 0 0;
  width: 68px;
  min-width: 68px;
}

.schedule-column {
  margin: 0 0 0 auto;
  max-width: 900px;
  width: 100%;
  transform: rotate(4deg);
  background: url("../img/schedule-bg.png") no-repeat center;
  background-size: cover;
  padding: 40px;
}
.schedule-column h3 {
  font-size: 70px;
  line-height: 130%;
  font-style: italic;
  font-family: "Noto Serif Display", sans-serif;
  color: #FFEEDB;
  margin: 0 0 35px;
}

.schedule-box {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 0 20px;
  margin: 0 0 30px;
  font-size: 32px;
  line-height: 130%;
}
.schedule-box h4 {
  margin: 0 0 20px;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color: #FFEEDB;
}
.schedule-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: url("../img/schedule-line.svg") no-repeat center;
  background-size: 100%;
  z-index: -1;
}
.schedule-box:last-child {
  margin: 0;
  padding: 0;
}
.schedule-box:last-child::before {
  display: none;
}

.result-section {
  background: #070707 url("../img/result-bg.png") no-repeat center;
  background-size: cover;
  padding: 200px 0;
  margin: -100px 0;
}
.result-section h2 {
  margin: 0 auto 90px;
  max-width: 1300px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.result-section-box {
  width: calc(50% - 20px);
  min-height: 440px;
  margin: 0 0 40px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background: url("../img/subtract1.png") no-repeat right center;
  background-size: contain;
  color: #131313;
  padding: 50px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.result-section-box h3 {
  color: #9A0000;
  max-width: 760px;
  margin: 0 0 50px;
}
.result-section-box__icon {
  margin: 0 0 40px;
}
.result-section-box .box-text {
  margin: auto 0 0;
  max-width: 700px;
}
.result-section-box:nth-child(even) {
  text-align: right;
  background: url("../img/subtract2.png") no-repeat left center;
  background-size: contain;
}
.result-section-box:nth-child(even):before {
  content: "";
  position: absolute;
  top: 47%;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 1;
  left: -123px;
  width: 208px;
  height: 208px;
  background: url("../img/result-circle1.svg") no-repeat center;
  background-size: 100%;
}
.result-section-box:nth-child(even) h3 {
  margin: 0 0 50px auto;
}
.result-section-box:nth-child(even) .box-text {
  margin-left: auto;
}
.result-section-box:nth-child(even) .result-section-box__icon {
  margin: 0 0 40px auto;
}
.result-section-box:nth-child(4):before {
  background: url("../img/result-circle2.svg") no-repeat center;
  background-size: 100%;
}
.result-section-box:last-child {
  margin: 0 auto;
  text-align: center;
  background: url("../img/subtract3.png") no-repeat center;
  background-size: contain;
}
.result-section-box:last-child:before {
  content: "";
  position: absolute;
  top: 47%;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 1;
  left: -123px;
  width: 208px;
  height: 208px;
  background: url("../img/result-circle2.svg") no-repeat center;
  background-size: 100%;
}
.result-section-box:last-child:after {
  content: "";
  position: absolute;
  top: 47%;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 1;
  right: -123px;
  width: 208px;
  height: 208px;
  background: url("../img/result-circle1.svg") no-repeat center;
  background-size: 100%;
}
.result-section-box:last-child .result-section-box__icon {
  margin: 0 auto 40px;
}
.result-section-box:last-child .result-section-box__decor:nth-child(2) {
  left: auto;
  right: -123px;
}
.result-section-box:last-child .box-text {
  margin: 50px auto 0;
  max-width: 750px;
}

.prices {
  background: url("../img/prices-bg.png") no-repeat center;
  background-size: cover;
  padding: 265px 0 180px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 0 0 -350px;
}
.prices h2 {
  color: #131313;
}

.price-card {
  color: #ECECEC;
}
.price-card__head {
  width: 100%;
  min-height: 250px;
  margin: 0 0 -1px;
  position: relative;
  z-index: 1;
  border: 3px solid #131313;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ECECEC;
  overflow: hidden;
  font-size: 36px;
  font-style: italic;
}
.price-card__head .subtext {
  display: block;
  color: rgba(19, 19, 19, 0.3);
  margin: 0 auto 10px;
}
.price-card__head h3 {
  font-size: 70px;
  font-family: "Noto Serif Display", sans-serif;
  line-height: 115%;
}
.price-card__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.price-card__body {
  border: 3px solid #131313;
  border-radius: 30px;
  padding: 50px 40px;
  background: #ECECEC;
  line-height: 130%;
  font-size: 32px;
}
.price-card ul li {
  margin: 0 0 20px;
}
.price-card ul li:last-child {
  margin: 0;
}
.price-card .price {
  margin: 60px 0 0;
}
.price-card .btn {
  width: 100%;
  margin: 40px auto 0;
}
.price-card .box-text {
  font-size: 26px;
  color: #FFEEDB;
  font-style: italic;
  margin: 20px 0 0;
}
.price-card .box-text p {
  margin: 0 0 10px;
}
.price-card .box-text p:last-child {
  margin: 0;
}

.price-card1 {
  margin: 30px 0 0;
  color: #131313;
}
.price-card1 .price-card__bg {
  left: 0;
  top: 0;
}

.price-card2 {
  transform: rotate(5deg);
  margin: 140px 10px 0 -20px;
  z-index: 2;
  position: relative;
}
.price-card2 .price-card__head {
  margin: 0 0 15px;
  border: none;
  color: #ECECEC;
  background: #131313;
}
.price-card2 .price-card__head .subtext {
  color: rgba(236, 236, 236, 0.3);
}
.price-card2 .price-card__bg {
  left: auto;
  right: 10px;
  top: 10px;
}
.price-card2 .price-card__body {
  background: #131313;
  color: #ECECEC;
  border: none;
}
.price-card2 .list-point li::before {
  filter: invert(1);
}

.price-card3 {
  transform: rotate(-5deg);
}
.price-card3 .price-card__head {
  margin: 0 0 15px;
  background: #9A0000;
  color: #ECECEC;
  border: none;
}
.price-card3 .price-card__head .subtext {
  color: rgba(236, 236, 236, 0.3);
}
.price-card3 .price-card__head h3 {
  font-size: 110px;
}
.price-card3 .price-card__body {
  background: #9A0000;
  border: none;
  color: #ECECEC;
}
.price-card3 .price-card__bg {
  mix-blend-mode: overlay;
}
.price-card3 .list-point li::before {
  filter: invert(1);
}

.price {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 70px;
  text-align: center;
  line-height: normal;
  margin: 60px auto 0;
}

.prices-slogan {
  text-align: center;
  font-size: 70px;
  line-height: 135%;
  font-family: "Noto Serif Display", sans-serif;
  color: #131313;
  margin: 80px auto 0;
  max-width: 1530px;
}
.prices-slogan span {
  font-style: italic;
}

.blockquote {
  background: #070707 url("../img/blockquote-bg.png") no-repeat center bottom;
  background-size: cover;
  padding: 230px 0 60px;
}
.blockquote .container {
  align-items: flex-end;
  justify-content: center;
}
.blockquote .box-text p {
  margin: 0;
}

.blockquote-photo {
  max-width: 835px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockquote-autor {
  margin: 50px 0 0;
}

.blockquote-text {
  max-width: 800px;
  font-style: italic;
  font-size: 40px;
  line-height: 150%;
}