/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1700px) {
  .prices {
    margin: 0 0 -150px;
  }
  .price-card__head h3 {
    font-size: 50px;
  }
  .price-card3 .price-card__head h3 {
    font-size: 90px;
  }
  .price-card__head {
    font-size: 30px;
    line-height: normal;
  }
  .price-card__body {
    padding: 40px 30px;
    font-size: 26px;
    line-height: normal;
  }
  .price, .prices-slogan {
    font-size: 50px;
    line-height: normal;
  }
  .prices-slogan {
    max-width: 1080px;
  }
  .result-section-box {
    font-size: 28px;
    background-size: cover;
  }
  .result-section-box:nth-child(even) {
    background-size: cover;
  }
  .result-section-box:last-child {
    background-size: cover;
    max-width: 500px;
    width: 100%;
  }
  .result-section-box__icon {
    margin: 0 0 20px;
  }
  .result-section-box:nth-child(even) .result-section-box__icon {
    margin: 0 0 20px auto;
  }
  .schedule-column {
    max-width: 800px;
  }
  .schedule-box {
    font-size: 27px;
  }
  .days-ritual__column .box-text, .actually-text {
    font-size: 30px;
  }
  .days-ritual__column {
    max-width: 640px;
  }
  .days-icons {
    margin: 60px 0 30px;
  }
  .days-icons li {
    width: 70px;
    height: 70px;
    min-width: 70px;
    padding: 10px;
  }
  .needed-box {
    font-size: 30px;
  }
  .needed-box__content {
    max-width: 320px;
  }
  .needed-box__icon {
    height: 210px;
  }
  .needed-box__img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 1600px) {
  h1, .h1 {
    font-size: 180px;
  }
  h2 {
    font-size: 90px;
  }
  h3 {
    font-size: 30px;
  }
  .h1-decor {
    font-size: 200px;
    line-height: normal;
  }
  .h1-decor::before {
    width: 90px;
    height: 133px;
    bottom: 56px;
    left: 167px;
  }
  .home-photo {
    width: calc(100% - 700px);
    padding: 0 30px 0 0;
  }
  .home-photo__text {
    font-size: 22px;
  }
  .home-content {
    max-width: 700px;
  }
  .home-content .box-text {
    font-size: 20px;
    max-width: 276px;
    top: 75px;
  }
  .lilit-type-footer__img {
    width: 600px;
  }
  .lilit-type-box {
    max-width: 385px;
  }
  .prices {
    margin: 0 0 -50px;
  }
  .blockquote {
    padding: 60px 0;
  }
  .blockquote-text {
    font-size: 30px;
    width: 48%;
    max-width: none;
  }
  .blockquote-photo {
    width: 52%;
    max-width: none;
    padding: 0 20px 0 0;
  }
  .btn {
    font-size: 28px;
    height: 90px;
  }
  .btn::before {
    width: 70px;
    min-width: 70px;
    height: 32px;
    margin: 0 10px 0 0;
  }
  .result-section-box {
    min-height: auto;
    font-size: 22px;
    line-height: normal;
  }
  .result-section-box h3 {
    margin: 0 0 20px;
  }
  .result-section-box:nth-child(even):before, .result-section-box:last-child:before {
    width: 150px;
    height: 150px;
    left: -97px;
  }
  .result-section-box:last-child:after {
    width: 150px;
    height: 150px;
    right: -97px;
  }
  .result-section-box:nth-child(even) h3 {
    margin: 0 0 20px;
  }
  .result-section-box:last-child h3 {
    margin: 0 auto 20px;
  }
  .days-ritual__column {
    max-width: 500px;
  }
  .days-ritual__column .box-text, .actually-text {
    font-size: 22px;
  }
  .schedule-box {
    font-size: 24px;
  }
  .schedule-box h4 {
    font-size: 30px;
  }
  .actually-text img {
    width: 50px;
    min-width: 50px;
  }
  .schedule-column {
    max-width: 650px;
  }
  .stages-ritual-box {
    font-size: 24px;
  }
  .stages-ritual-box h4 {
    font-size: 30px;
  }
  .stages-ritual {
    padding: 140px 0 0;
  }
  .stages-ritual h2 {
    margin: 0 auto 40px;
  }
  .needed-box {
    font-size: 26px;
    padding: 30px;
  }
  .needed-box__img {
    max-width: 280px;
  }
  .for-whom-card {
    font-size: 26px;
    min-height: 336px;
    max-width: 990px;
    margin: 0 auto 30px;
    padding: 40px 20px 20px;
  }
}
@media only screen and (max-width: 1300px) {
  footer {
    padding: 40px 0;
  }
  footer::before {
    width: 300px;
    height: 300px;
  }
  footer .box-text p {
    margin: 0 0 20px;
  }
  footer .box-text p:last-child {
    margin: 0;
  }
  footer .logo {
    margin: 0 0 20px;
    font-size: 22px;
  }
  .list-social {
    margin: 0 0 20px;
  }
  .list-social li a {
    width: 45px;
    height: 45px;
    min-width: 45px;
    padding: 12px;
  }
  .footer-box {
    font-size: 20px;
  }
  .link-document {
    margin: 0 0 20px auto;
  }
  .copyright {
    margin: 20px 0 0;
  }
  .logo-text span {
    font-size: 20px;
  }
  .logo {
    font-size: 22px;
  }
  .logo img {
    width: 50px;
    min-width: 50px;
  }
  body {
    font-size: 24px;
    line-height: normal;
  }
  .container {
    padding: 0 20px;
  }
  .btn {
    font-size: 16px;
    height: 58px;
  }
  .btn::before {
    width: 36px;
    height: 15px;
    min-width: 36px;
    margin: 0 10px 0 0;
  }
  .link-social {
    width: 45px;
    height: 45px;
    min-width: 45px;
  }
  .start-date {
    font-size: 20px;
  }
  .h1-decor {
    font-size: 147px;
    line-height: 1;
  }
  h1, .h1 {
    font-size: 146px;
    line-height: 1;
  }
  h1 .h1-gradient, .h1 .h1-gradient {
    font-size: 92px;
  }
  .h1-decor::before {
    width: 64px;
    height: 93px;
    left: 124px;
    bottom: 15px;
  }
  h2 {
    font-size: 80px;
    line-height: normal;
  }
  h3 {
    font-size: 26px;
  }
  .home-content {
    max-width: 365px;
  }
  .home-content .subtitle {
    padding: 0 0 0 60px;
    font-size: 22px;
  }
  .home-content .box-text {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
  }
  .home h1 {
    margin: 0 auto 15px;
  }
  .home .h1-gradient {
    padding: 0;
    margin: 0;
  }
  .home-photo {
    width: calc(100% - 365px);
  }
  .home-photo .box-text {
    margin: 0 0 0 auto;
    text-align: right;
  }
  .home-photo__text {
    right: 0;
  }
  .lilit-type {
    padding: 200px 0 105px;
  }
  .lilit-type h2 {
    font-size: 180px;
  }
  .price-card__head h3, .price, .prices-slogan {
    font-size: 40px;
  }
  .price {
    margin: 20px auto 0;
  }
  .prices-slogan {
    max-width: 900px;
  }
  .price-card__body {
    font-size: 22px;
    padding: 30px 20px;
  }
  .price-card .box-text {
    font-size: 22px;
  }
  .result-section {
    margin: 0;
    padding: 0 0 30px;
  }
  .result-section h2 {
    margin: 0 auto 20px;
  }
  .result-section-box {
    font-size: 18px;
    padding: 30px;
  }
  .result-section-box__icon {
    max-width: 40px;
    margin: 0 0 20px;
  }
  .result-section-box:last-child .result-section-box__icon {
    margin: 0 auto 20px;
  }
  .schedule-column {
    max-width: 480px;
  }
  .schedule-column h3 {
    font-size: 40px;
  }
  .schedule-box, .days-ritual__column .box-text, .actually-text {
    font-size: 20px;
  }
  .days-ritual__column {
    max-width: 460px;
  }
  .needed .col-50 {
    width: 100%;
  }
  .needed .col-25 {
    width: 50%;
  }
  .needed h2 {
    text-align: center;
    margin: 0 auto;
  }
  .needed-box__content {
    margin: 0 auto;
  }
  .order-mobile-1 {
    order: 1;
  }
  .lilit-type-box {
    max-width: 300px;
  }
  .wrapper-row {
    margin: 70px 0 0;
  }
  .lilit-type-footer {
    margin: 50px auto 0;
  }
  .lilit-type-footer__img {
    width: 500px;
  }
  .lilit-type-footer .lilit-type-box {
    font-size: 26px;
    max-width: 700px;
  }
  .lilit-type-box-first {
    font-size: 26px;
    max-width: 650px;
  }
  .lilit-type .subtitle {
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  h3 {
    font-size: 24px;
  }
  .blockquote-text {
    font-size: 24px;
  }
  .prices .col-30 {
    width: 100%;
  }
  .price-card__head {
    min-height: 135px;
    font-size: 16px;
    margin: 0 0 10px;
    border-radius: 15px;
  }
  .price-card__body {
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
  }
  .list-point li::before {
    width: 15px;
    height: 15px;
    min-width: 15px;
    margin: 0 10px 0 0;
  }
  .price-card {
    margin: 0;
  }
  .price-card .btn {
    margin: 20px auto 0;
  }
  .price-card .price {
    margin: 25px auto 0;
  }
  .price-card .box-text {
    font-size: 16px;
  }
  .price-card2 {
    margin: 0;
    transform: none;
  }
  .price-card3 {
    transform: none;
  }
  .price-card3 .price-card__head h3 {
    font-size: 66px;
  }
  .prices-slogan {
    font-size: 30px;
    margin: 10px auto 0;
  }
  .result-section-box {
    font-size: 16px;
    padding: 20px;
  }
  .result-section-box:nth-child(even):before {
    width: 100px;
    height: 100px;
    left: -70px;
  }
  .result-section-box:last-child:before, .result-section-box:last-child:after {
    width: 100px;
    height: 100px;
  }
  .result-section-box:last-child:before {
    left: -70px;
  }
  .result-section-box:last-child:after {
    right: -70px;
  }
  .days-ritual {
    padding: 60px 0;
  }
  .days-ritual .d-pc-tablet {
    display: none;
  }
  .days-ritual .d-mobile {
    display: block;
  }
  .days-ritual h2 {
    text-align: center;
    margin: 0 auto 30px;
  }
  .days-ritual__column {
    order: 1;
    max-width: none;
  }
  .schedule-column {
    max-width: none;
    transform: none;
    margin: 0 0 20px;
  }
  .days-icons {
    margin: 0 0 15px;
  }
  .stages-ritual {
    padding: 75px 0 0;
  }
  .stages-ritual .col-50 {
    margin: 0 0 25px;
    width: 100%;
  }
  .stages-ritual .col-50:last-child {
    margin: 0;
  }
  .stages-ritual h2 {
    margin: 0 auto 10px;
  }
  .stages-ritual h3 {
    margin: 0 auto 20px;
  }
  .stages-ritual-box {
    font-size: 20px;
  }
  .stages-ritual-box__img {
    margin: 0 auto 15px;
  }
  .needed {
    margin: 70px 0;
  }
  .for-whom-card {
    position: relative;
    top: 0;
    max-width: 720px;
    min-height: 245px;
    font-size: 20px;
  }
  .for-whom-card__icon {
    max-width: 40px;
  }
  .about-course__img {
    width: 100%;
    order: 1;
    margin: 20px auto 0;
  }
  .about-course__content {
    width: 100%;
  }
  .lilit-type-box {
    max-width: 50%;
    width: 100%;
    text-align: center;
  }
  .lilit-type-box__icon {
    margin: 0 auto 15px;
    justify-content: center;
  }
  .lilit-type-box:nth-child(odd) {
    text-align: center;
  }
  .lilit-type-box:nth-child(odd) .lilit-type-box__icon {
    margin: 0 auto 15px;
    justify-content: center;
  }
  .wrapper-row {
    margin: 30px 0 0;
  }
  .lilit-type h2 {
    font-size: 100px;
  }
  .lilit-type .subtitle {
    font-size: 26px;
    margin: 0 auto 20px;
  }
  .lilit-type-footer {
    margin: 430px 0 0;
  }
  .lilit-type-footer__img {
    width: 700px;
    bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .list-social li {
    margin: 0 5px 0 0;
  }
  .list-social li a {
    border-radius: 6px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 8px;
  }
  footer::before {
    width: 203px;
    height: 203px;
    bottom: -45px;
  }
  footer .logo {
    font-size: 17px;
  }
  footer .box-text p {
    margin: 0 0 15px;
  }
  footer .box-text p:last-child {
    margin: 0;
  }
  .footer-box {
    font-size: 10px;
  }
  .link-document {
    margin: 0 0 15px auto;
  }
  body {
    font-size: 16px;
    line-height: normal;
  }
  .logo-text span {
    font-size: 17px;
  }
  .logo img {
    width: 45px;
    min-width: 45px;
  }
  .start-date {
    font-size: 16px;
  }
  .home {
    padding: 0 0 100px;
    margin: 0 0 -50px;
  }
  .home .d-tablet-pc {
    display: none;
  }
  .home .d-mobile {
    display: block;
  }
  .home h1 {
    margin: 0 auto;
  }
  .home .subtitle {
    text-align: center;
    padding: 0;
  }
  .home-photo {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .home-content {
    max-width: none;
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-content .subtitle {
    display: none;
  }
  .start-date {
    order: -1;
    margin: 0 auto 10px;
    padding: 10px 20px;
  }
  header {
    padding: 24px 0;
  }
  .logo {
    font-size: 19px;
  }
  .blockquote-text {
    font-size: 18px;
  }
  h2 {
    font-size: 70px;
    margin: 0 0 20px;
  }
  h3 {
    font-size: 20px;
  }
  .result-section .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .result-section-box {
    font-size: 16px;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 300px;
    background: url("../img/subtract-bg-mobile3.png") no-repeat center;
    background-size: cover;
    padding: 20px 20px 30px;
  }
  .result-section-box .box-text, .result-section-box h3 {
    max-width: 300px;
  }
  .result-section-box::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -55px;
    background: url("../img/result-circle1.svg") no-repeat center;
    background-size: 100%;
    width: 100px;
    height: 100px;
  }
  .result-section-box:first-child {
    background: url("../img/subtract-bg-mobile.png") no-repeat center bottom;
    background-size: cover;
  }
  .result-section-box:nth-child(even) {
    text-align: left;
    background: url("../img/subtract-bg-mobile3.png") no-repeat center;
    background-size: cover;
  }
  .result-section-box:nth-child(even)::before {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -55px;
    top: auto;
    background: url("../img/result-circle2.svg") no-repeat center;
    background-size: 100%;
  }
  .result-section-box:nth-child(even) .result-section-box__icon {
    margin: 0 0 20px;
  }
  .result-section-box:nth-child(even) .box-text {
    margin: 0;
  }
  .result-section-box:last-child {
    background: url("../img/subtract-bg-mobile2.png") no-repeat center top;
    background-size: cover;
    max-width: 300px;
    text-align: left;
  }
  .result-section-box:last-child::before, .result-section-box:last-child::after {
    display: none;
  }
  .result-section-box:last-child .result-section-box__icon {
    margin: 0 0 20px;
  }
  .needed-box {
    font-size: 18px;
  }
  .needed-box__content {
    margin: 0 0 0 auto;
  }
  .needed-box__icon {
    height: 160px;
  }
  .needed-box .box-text span {
    font-size: 14px;
  }
  .for-whom h2 {
    margin: 0 auto 20px;
  }
  .for-whom-card {
    font-size: 16px;
    margin: 0 auto 10px;
    max-width: 600px;
    min-height: 200px;
  }
  .for-whom-card h3 {
    font-size: 20px;
    margin: 0 auto 15px;
  }
  .for-whom-card__icon {
    margin: 0 auto 10px;
  }
  .result-ritual-card {
    width: 400px;
  }
  .result-ritual-card__img {
    height: auto;
  }
  .result-ritual-card__icon {
    width: 35px;
    height: 33px;
  }
  .result-ritual-card h3 {
    margin: 20px 0;
  }
  .slick-arrow {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
  .title-wrapper {
    margin: 0 0 30px;
  }
  .lilit-type-footer {
    margin: 350px auto 0;
  }
  .lilit-type-footer .lilit-type-box {
    font-size: 16px;
  }
  .lilit-type-footer__img {
    max-width: 500px;
  }
  .lilit-type-box-first {
    font-size: 16px;
    margin: 0 auto 20px;
  }
  .lilit-type-box-first .lilit-type-box__icon {
    margin: 0 auto 20px;
  }
}
@media only screen and (max-width: 576px) {
  h1, .h1 {
    margin: 0 auto 10px;
  }
  h2 {
    font-size: 40px;
    line-height: normal;
  }
  .start-date {
    font-size: 14px;
  }
  .blockquote {
    padding: 70px 0 0;
  }
  .blockquote .container {
    flex-wrap: wrap;
  }
  .blockquote-text {
    font-size: 15px;
    order: -1;
    width: 100%;
  }
  .blockquote-autor {
    margin: 15px 0 0;
  }
  .blockquote-photo {
    padding: 0;
    width: 100%;
  }
  .price-card ul li {
    margin: 0 0 15px;
  }
  .price-card ul li:last-child {
    margin: 0;
  }
  .price-card1 .price-card__bg {
    max-width: 152px;
    height: 126px;
  }
  .price-card2 .price-card__bg {
    max-width: 73px;
  }
  h3 {
    font-size: 16px;
  }
  .result-section-box h3 {
    margin: 0 0 15px;
  }
  .result-section-box:last-child {
    margin: 0 0 15px;
  }
  .schedule-box, .days-ritual__column .box-text {
    font-size: 16px;
  }
  .actually-text {
    font-size: 14px;
    margin: 20px 0 0;
  }
  .actually-text img {
    width: 27px;
    min-width: 27px;
  }
  .days-icons li {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 4px;
    margin: 0 10px 0 0;
  }
  .schedule-column {
    padding: 20px;
    max-width: 300px;
    background: url("../img/schedule-bg-mobile.png") no-repeat center;
    background-size: cover;
  }
  .schedule-column h3 {
    font-size: 28px;
    margin: 0 0 15px;
  }
  .schedule-box {
    font-size: 12px;
    padding: 0 0 10px;
    margin: 0 0 12px;
  }
  .schedule-box:last-child {
    margin: 0;
    padding: 0;
  }
  .schedule-box h4 {
    font-size: 16px;
    margin: 0 0 7px;
  }
  .schedule-box .box-text p {
    margin: 0 0 10px;
  }
  .schedule-box .box-text p:last-child {
    margin: 0;
  }
  .stages-ritual-box {
    font-size: 14px;
  }
  .stages-ritual-box h4 {
    font-size: 16px;
  }
  .needed {
    margin: 0;
    padding: 110px 0 50px;
  }
  .mb-40 {
    margin-bottom: 20px;
  }
  .row {
    margin: 0 -10px;
  }
  .col-25, .col-50 {
    padding: 0 10px;
  }
  .needed-box {
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
  }
  .needed-box__icon {
    height: 80px;
  }
  .needed-box__img {
    max-width: 167px;
  }
  .needed-box__content {
    max-width: 180px;
  }
  .needed-box .box-text span {
    font-size: 9px;
  }
  .for-whom-card {
    font-size: 14px;
    padding: 30px 10px 20px;
    min-height: 210px;
    max-width: 300px;
    background: url("../img/bg-card-mobile.png") no-repeat center;
    background-size: cover;
  }
  .for-whom-card h3 {
    font-size: 16px;
  }
  .about-course {
    padding: 70px 0;
  }
  .about-course .box-text {
    max-width: 300px;
    margin: 0 auto 20px;
  }
  .about-course .box-text:last-child {
    margin: 0 auto;
  }
  .about-course .box-text::before {
    width: 16px;
    height: 10px;
    margin: 0 auto 10px;
  }
  .result-ritual {
    padding: 60px 0;
  }
  .result-ritual h2 {
    text-align: center;
    margin: 0 auto 20px;
  }
  .title-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .result-ritual-card {
    width: 100%;
  }
  .lilit-type {
    padding: 100px 0;
  }
  .lilit-type h2 {
    font-size: 92px;
  }
  .lilit-type .subtitle {
    font-size: 16px;
  }
  .lilit-type-box__icon {
    max-width: 40px;
  }
  .lilit-type-footer {
    margin: 180px auto 0;
  }
  .lilit-type-footer .lilit-type-box {
    border-radius: 8px;
    padding: 15px;
  }
  .lilit-type-footer__img {
    max-width: 292px;
    bottom: 40px;
  }
  .lilit-type-box-first .lilit-type-box__icon {
    max-width: 16px;
    margin: 0 auto 16px;
  }
}
@media only screen and (max-width: 370px) {
  footer {
    padding: 60px 0 20px;
    font-size: 14px;
  }
  footer:before {
    display: none;
  }
  footer .logo {
    margin: 0 auto 20px;
    font-size: 17px;
    text-align: left;
  }
  footer .logo img {
    width: 36px;
    min-width: 36px;
  }
  footer .box-text p {
    margin: 0 0 10px;
  }
  .footer-box {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto 15px;
  }
  .footer-box:last-child {
    margin: 0 auto;
    text-align: center;
  }
  .list-social {
    justify-content: center;
    margin: 0 auto 10px;
  }
  .list-social li a {
    width: 55px;
    height: 55px;
    min-width: 55px;
    border-radius: 15px;
  }
  .list-social li a svg {
    width: 27px;
    height: 23px;
  }
  .d-mobile {
    display: block;
  }
  .d-pc-tablet {
    display: none;
  }
  .text-forbidden {
    font-size: 12px;
    margin: 0 auto 15px;
  }
  .link-document {
    margin: 0 auto 15px;
  }
  .link-document:last-child {
    margin: 0 auto;
  }
  .copyright {
    margin: 10px auto 0;
  }
  .home-content .box-text .icon {
    max-width: 16px;
    margin: 0 auto 10px;
  }
  .home-photo__text {
    max-width: 155px;
  }
  .home-photo__text .box-text {
    font-size: 11px;
  }
  .home-photo__icon {
    max-width: 20px;
  }
  .btn {
    padding: 10px;
  }
  .h1-decor, h1, .h1 {
    font-size: 140px;
  }
  h1 .h1-gradient, .h1 .h1-gradient {
    font-size: 90px;
  }
  .h1-decor::before {
    left: 117px;
    width: 60px;
    height: 90px;
  }
  .prices {
    background: url("../img/prices-bg-mobile.png") no-repeat center top;
    background-size: cover;
    margin: 0;
    padding: 100px 0 40px;
  }
  .needed {
    background: url("../img/needed-bg-mobile.png") no-repeat center;
    background-size: cover;
  }
  .needed-box__img {
    max-width: 120px;
  }
  .needed-box__content {
    max-width: 155px;
  }
  .lilit-type {
    padding: 100px 0 50px;
  }
  .lilit-type-box {
    font-size: 14px;
  }
  .lilit-type-footer .lilit-type-box {
    font-size: 14px;
  }
}