@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 32px;
  min-width: 320px;
  position: relative;
  line-height: 130%;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  background: #070707 url("../img/noise.png") no-repeat center;
  background-size: cover;
  color: #ECECEC;
  z-index: 1;
}

.grain {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 45px;
  font-size: 35px;
  line-height: normal;
  font-family: "Noto Serif Display", sans-serif;
  text-transform: uppercase;
  height: 120px;
  border-radius: 80px 120px 0 80px;
  transition: 0.3s ease;
}

.btn-red {
  background: linear-gradient(to right, #9A0000 0%, #6A141A 100%), url("../img/btn-red-texture.png") no-repeat center;
  background-size: cover;
  color: #ECECEC;
}
.btn-red::before {
  content: "";
  display: inline-block;
  width: 92px;
  height: 38px;
  min-width: 92px;
  margin: 0 20px 0 0;
  background: url("../img/btn-icon-beige.svg") no-repeat center;
  background-size: 100%;
  transition: 0.3s ease;
}
.btn-red:hover {
  background: linear-gradient(to right, #9A0000 0%, #6A141A 100%), url("../img/btn-red-texture.png") no-repeat center;
  background-size: cover;
  color: #ECECEC;
  box-shadow: 0 30px 80px 0 rgba(188, 8, 8, 0.25);
}

.btn-beige {
  background: #FFEEDB;
  border-radius: 80px 120px 0 80px;
  color: #9A0000;
}
.btn-beige::before {
  content: "";
  display: inline-block;
  width: 92px;
  height: 38px;
  min-width: 92px;
  margin: 0 20px 0 0;
  background: url("../img/btn-icon-red.svg") no-repeat center;
  background-size: 100%;
  transition: 0.3s ease;
}
.btn-beige:hover {
  background: #FFEEDB;
  color: #9A0000;
  box-shadow: 0 30px 80px 0 rgba(255, 238, 219, 0.2);
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.list-point li {
  display: flex;
  align-items: center;
}
.list-point li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin: 0 20px 0 0;
  background: url("../img/point.svg") no-repeat center;
  background-size: 100%;
}

h1, .h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 240px;
  font-family: "Noto Serif Display", sans-serif;
  font-style: normal;
  line-height: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}
h1 span, .h1 span {
  display: block;
  background: #FFEEDB;
  background: linear-gradient(to left, #FFEEDB 0%, #FFEEDB 19%, #FFEEDB 86%, #FFEEDB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 .h1-gradient, .h1 .h1-gradient {
  background: #FFEEDB;
  background: linear-gradient(to left, #FFEEDB 0%, #FFEEDB 13%, rgba(255, 238, 219, 0.6) 46%, #FFEEDB 87%, #FFEEDB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1-decor {
  font-size: 260px;
  position: relative;
  z-index: 1;
}
.h1-decor::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 36px;
  left: 214px;
  width: 116px;
  height: 167px;
  background: url("../img/title-icon.svg") no-repeat center;
  background-size: 100%;
}

h2 {
  font-family: "Noto Serif Display", sans-serif;
  font-size: 110px;
  font-style: italic;
  text-align: center;
  line-height: 115%;
  margin: 0 auto 30px;
  position: relative;
  width: 100%;
}

h3 {
  font-size: 40px;
  width: 100%;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.color-gradient {
  background: #FFEEDB;
  background: linear-gradient(to left, #FFEEDB 0%, #FFEEDB 13%, rgba(255, 238, 219, 0.6) 46%, #FFEEDB 87%, #FFEEDB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-normal {
  font-style: normal;
}

.style-italic {
  font-style: italic;
}

.container {
  padding: 0 40px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  position: relative;
}

.w-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.align-items-center {
  align-items: center;
}

.col-25 {
  width: 25%;
  padding: 0 20px;
}

.col-30 {
  width: 33.33%;
  padding: 0 20px;
}

.col-50 {
  width: 50%;
  padding: 0 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.box-text p {
  margin: 0 0 18px;
}
.box-text p:last-child {
  margin: 0;
}

.d-tablet, .d-mobile {
  display: none;
}

.color-red {
  color: #9A0000;
}

.color-beige {
  color: #FFEEDB;
}

.title-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin: 0 0 60px;
}
.title-wrapper h2 {
  margin: 0 auto 0 0;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slider-nav {
  display: flex;
  align-items: center;
}

.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  opacity: 1;
  width: 90px;
  height: 90px;
  min-width: 90px;
  border-radius: 50%;
  background: #9A0000;
  fill: none;
  stroke: #ECECEC;
  margin: 0 10px 0 0;
  box-shadow: none;
}
.slick-arrow:last-child {
  margin: 0;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #FFEEDB;
  stroke: #9A0000;
}
.slick-arrow svg {
  width: 10px;
  height: 21px;
}