@import "vars"

.logo
  display: flex
  align-items: center
  color: $beige
  font-size: 34px
  font-family: $viaoda
  line-height: 110%
  text-transform: uppercase
  img
    width: 65px
    min-width: 65px
    margin: 0 15px 0 0

.logo-text
  span
    display: block
    font-family: $inter
    font-size: 30px
    font-weight: 300


